version: '3'

services:

  web:
    build: .
    command: >
      bash -c "./manage.py collectstatic --noinput && ./manage.py makemigrations && ./manage.py migrate && gunicorn -b 0.0.0.0:8003 mysite.wsgi:application"
    volumes:
      - .:/app
      - /home/ubuntu/StoreMicroserviseCart/mysite/staticfiles:/app/static
      - media_volume:/app/media
    ports:
      - "8003:8003"
    depends_on:
      - db

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    build: nginx
    ports:
      - "80:80"
    volumes:
      - /home/ubuntu/StoreMicroserviseCart/mysite/staticfiles:/app/static
      - media_volume:/app/media
    depends_on:
      - web

volumes:
  postgres_data:
  media_volume: